.horizontal-items {
    float: left;
    li {
      display: block;
      float: left;
      background: #666;
      padding: 10px;
      margin-right: 20px;
    }
    &:after {
      content: '';
      display: block;
      visibility: hidden;
      clear: both;
    }
  }
  .vertical-items {
    li {
      display: block;
      background: #fff;
      border-radius: 7px;
      box-shadow: 0 1px 6px 0 rgba(237, 238, 241, 1);
      margin-top: 20px;
      padding: 14px 15px;
      font-size: 13px;
      line-height: 18px;
      font-family: PingFangSC;
      font-weight: 500;
      color: #333;
    }
  }
  
  .virtualList-demo-item {
    height: 100px;
  }
  .virtualList-box {
    overflow: auto;
  }
  .virtualList-demo-box {
    .heigh1 {
      height: 500px;
    }
    &.hideScrollbar {
      .virtualList-box {
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
        }
      }
    }
  }
  
  .virtuallist {
    width: 100%;
    overflow: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;
    &-phantom {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: -1;
    }
    &-container {
      left: 0;
      right: 0;
      top: 0;
      position: absolute;
    }
    &-item {
      overflow: hidden;
      margin: 10px 0;
    }
  }